@using ProyectoBuses.Models
@model List<EmpleadoCLS>

@{
    ViewBag.Title = "Index";
    List<SelectListItem> listaUsuario = (List<SelectListItem>) ViewBag.listaTipoUsuarios;
}

<h2>Index</h2>

@Html.ActionLink("Agregar", "Agregar", "Empleado", null, new { @class = "btn btn-primary" })

@using(Html.BeginForm("Index", "Empleado", FormMethod.Get)) 
{
    @Html.Label("Ingresa tipo de Usuario")
    @Html.DropDownList("iidTipousuario", listaUsuario)

}

<table class="table table-hover table table-striped">

    <thead>

        <tr>
            <td>@Html.LabelFor(p => Model[0].idempleado)</td>
            <td>@Html.LabelFor(p => Model[0].nombre)</td>
            <td>@Html.LabelFor(p => Model[0].apPaterno)</td>
            <td>@Html.LabelFor(p => Model[0].apMaterno)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipoUsuario)</td>
            <td>@Html.LabelFor(p => Model[0].nombreTipocontrato)</td>
            <td width="10%"><b>Operaciones</b></td>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.idempleado</td>
                <td>@item.nombre</td>
                <td>@item.apPaterno</td>
                <td>@item.apMaterno</td>
                <td>@item.nombreTipoUsuario</td>
                <td>@item.nombreTipocontrato</td>
                <td>
                    @Html.ActionLink(" ", "Editar", "Empleado", new { id = item.idempleado }, new { @class = "glyphicon glyphicon-edit    btn btn-primary" })
                    <!-- Button trigger modal -->
                    <button type="button" onclick="MostarPopUp(@item.idempleado)" class="glyphicon glyphicon-trash btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Eliminar", "Empleado", FormMethod.Post, new { @id = "frmEmpleado" }))
{
    @Html.Hidden("txtIdEmpleado")
} 

<script> 
    function MostarPopUp(idempleado) {
        document.getElementById("txtIdEmpleado").value = idempleado;
    }
    function Agregar() {
        var frmEmpleado = document.getElementById("frmEmpleado");
        frmEmpleado.submit();
    }
    let tipoUsuario = document.getElementById("iidTipousuario");
    tipoUsuario.addEventListener("change", (e) => {
        const form = e.target.parentNode;
        form.submit();
    })
</script>