@using ProyectoBuses.Models
@model List<ViajeCLS>

<table class="table table-striped">
    <thead>

        <tr>
            <td>@Html.LabelFor(p => Model[0].iidViaje)</td>
            <td>@Html.LabelFor(p => Model[0].nombreBus)</td>
            <td>@Html.LabelFor(p => Model[0].nombreLugarOrigen)</td>
            <td>@Html.LabelFor(p => Model[0].nombreLugarDestino)</td>
            <td width="10%"><b>Operaciones</b></td>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.iidViaje</td>
            <td>@item.nombreBus</td>
            <td>@item.nombreLugarOrigen</td>
            <td>@item.nombreLugarDestino</td>

            <td>
                <button type="button" onclick="Editar(@item.iidViaje)" class="btn btn-primary glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal">
                </button>

                <button type="button" onclick="Eliminar(@item.iidViaje)" class="btn btn-danger glyphicon glyphicon-trash" data-toggle="modal" data-target="#exampleModalConfirmacion">
                </button>
            </td>

        </tr>
        }
    </tbody>
</table>
