@using ProyectoBuses.Models
@model ClienteCLS
@{
    ViewBag.Title = "Agregar";
    List<SelectListItem> listaSexo = (List<SelectListItem>)ViewBag.lista;
}

<br />
<br />
<h2>Agregar</h2>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- <script src="~/Scripts/jquery-3.4.1.min.js"></script>-->



<div class="row">


    <div class="col-md-6">

        @using (Html.BeginForm("Agregar", "Cliente", FormMethod.Post, new { @id = "frmAgregarCliente" }))
        {

            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })

                @if (Model != null && Model.mensajeError != null)
                {
                    @Html.Label(Model.mensajeError, new { @class = "text-danger" })
                }
            </div>

            <div>
                @Html.LabelFor(p => p.appaterno)
                @Html.TextBoxFor(p => p.appaterno, new { @class = "form-control" })
                @Html.ValidationMessage("appaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.apmaterno)
                @Html.TextBoxFor(p => p.apmaterno, new { @class = "form-control" })
                @Html.ValidationMessage("apmaterno", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.email)
                @Html.TextBoxFor(p => p.email, new { @class = "form-control" })
                @Html.ValidationMessage("email", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.direccion)
                @Html.EditorFor(p => p.direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessage("direccion", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.idsexo)
                @Html.DropDownList("idsexo", listaSexo, null, new { @class = "form-control" })
                @Html.ValidationMessage("idsexo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.telefonoFijo)
                @Html.TextBoxFor(p => p.telefonoFijo, new { @class = "form-control" })
                @Html.ValidationMessage("telefonoFijo", new { @class = "text-danger" })
            </div>

            <div>
                @Html.LabelFor(p => p.telefonoCelular)
                @Html.TextBoxFor(p => p.telefonoCelular, new { @class = "form-control" })
                @Html.ValidationMessage("telefonoCelular", new { @class = "text-danger" })
            </div>

            <br />

            <div style="margin:auto">

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                    Guardar
                </button>

                @Html.ActionLink("Regresar", "Index", "Cliente", null, new { @class = "btn btn-danger" })

            </div>


        }
    </div>
</div>

<!--VALIDACION EN JS-->
<script>

    var frmAgregarCliente = document.getElementById("frmAgregarCliente");
    frmAgregarCliente.onsubmit = function (e) {
        e.preventDefault();

        if (confirm("¿Deseas guardar los cambios ?") == 1) {
            frmAgregarCliente.submit();

        }

    }
</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>


<script>
    function Agregar() {
        var frmCliente = document.getElementById("frmAgregarCliente");
        frmCliente.submit();
    }
</script>
