@using ProyectoBuses.Models;
@model List<PaginaCLS>

<table class="table table-striped">
    <thead>
        <tr>
            <td>@Html.LabelFor(p => Model[0].iidpagina)</td>
            <td>@Html.LabelFor(p => Model[0].mensaje)</td>
            <td>@Html.LabelFor(p => Model[0].accion)</td>
            <td>@Html.LabelFor(p => Model[0].controlador)</td>
            <td><b>Operaciones</b></td>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.iidpagina</td>
                <td>@item.mensaje</td>
                <td>@item.accion</td>
                <td>@item.controlador</td>
                <td>
                    <button type="button" onclick="Editar(@item.iidpagina)" class="btn btn-primary  glyphicon glyphicon-edit" data-toggle="modal" data-target="#myModal">
                        
                    </button>
                </td>
            </tr>
        }

    </tbody>


</table>
