@using ProyectoBuses.Models
@model MarcaCLS

@{
    ViewBag.Title = "Agregar";
}
<br /><br />
<h2>Agregar</h2>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("Agregar", "Marca", FormMethod.Post, new { @id = "frmAgregarMarca" }))
        {

            <div>
                @Html.LabelFor(p => p.nombre)
                @Html.TextBoxFor(p => p.nombre, new { @class = "form-control" })
                @Html.ValidationMessage("nombre", new { @class = "text-danger" })
                <!--MANDAR EL MENSAJE DE ERROR AL USUARIO EN CASO DE QUE SE HAYA ENCONTRADO UNA DUPLICIDAD-->
                @if (Model !=null && Model.mensajeError != null)
                {
                    @Html.Label(Model.mensajeError, new { @class = "text-danger" })
                }
            </div>

            <div>
                @Html.LabelFor(p => p.descripcion)
                @Html.TextAreaFor(model => model.descripcion, new { @class = "form-control", @cols = 40, @rows = 10 })
                @Html.ValidationMessage("descripcion", new { @class = "text-danger" })
            </div>

            <br />

            <div style="margin:auto">


                <!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
                    Guardar
                </button>


                @Html.ActionLink("Regresar", "Index", "Marca", null, new { @class = "btn btn-danger" })

            </div>





        }
    </div>
</div>

<!--VALIDACION EN JS-->
<script>

    var frmAgregarMarca = document.getElementById("frmAgregarMarca");
    frmAgregarMarca.onsubmit = function (e) {
        e.preventDefault();

        if (confirm("¿Deseas guardar los cambios ?") == 1) {
            frmAgregarMarca.submit();

        }

    }
</script>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">¿Desea guardar los cambios?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="padding:1em">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" onclick="Agregar()" class="btn btn-success">Guardar</button>
            </div>
        </div>
    </div>
</div>


<script>
    function Agregar() {
        var frmAgregarMarca = document.getElementById("frmAgregarMarca");
        frmAgregarMarca.submit();
    }
</script>




