@using ProyectoBuses.Models;
@model List<RolCLS>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<button type="button" onclick="Agregar()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Agregar
</button>
@using (Ajax.BeginForm("Filtro", "", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "divRol",
    InsertionMode = InsertionMode.Replace
}, new { @id = "frmFiltro" }))
{
    @Html.Label("Ingrese nombre rol");
    @Html.TextBox("nombreRol", null, new { @class = "form-control", @name = "nombreRolTest" })
}
<br />
<div id="divRol">
    @Html.Partial("_TablaRol", Model);
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            @using (Ajax.BeginForm("Guardar", "Rol", null, new AjaxOptions
            {
                HttpMethod = "Post",
                OnSuccess = "Guardar",
                UpdateTargetId = "error"
            }))
            {
                @Html.Hidden("Titulo")
                <div class="modal-body">
                    <!--ESTOS SON LOS CAMPOS DEL MODAL-->
                    <div>
                        @Html.Label("Nombre Rol")
                        @Html.TextBox("nombre", null, new { @class = "form-control" })
                    </div>
                    <div>
                        @Html.Label("Descripcion Rol")
                        @Html.TextBox("descripcion", null, new { @class = "form-control" })

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            }

            <div id="error">

            </div>



        </div>
    </div>
</div>

<script>
    let nombre = document.getElementById("nombreRol");
    nombre.addEventListener("keyup", () => {
        $("#frmFiltro").trigger("submit");
    })
    function Agregar() {
        //este Titulo no le cambies ya lo encontre asi ;
        document.getElementById("Titulo").value = -1;

        document.getElementById("error").innerHTML = "";


        Limpiar();

    }
    function Guardar(resultado) {
        if (resultado == "1" || resultado == "0") {
            $("#frmFiltro").trigger("submit");
            document.getElementById("btnClose").click();
            alert("Se guardo correctamente")
        } else {
            alert("Ocurrio un error")
        }
    }

    function Limpiar() {
        document.getElementsByName("nombreRolTest").value = "";
        document.getElementById("descripcion").value = "";
        document.getElementById("error").innerHTML = "";
    }








    function Editar(id) {
        document.getElementById("Titulo").value = id;
        document.getElementById("error").innerHTML = "";
        alert(id)

        Limpiar();


        $.get("Rol/recuperarDatos/?titulo=" + id, function (data) {
            console.log(data);
            document.getElementsByName("nombreRolTest").value = data.nombre


            //NO TOCAR DESCRIPCION
            document.getElementById("descripcion").value = data.descripcion
        })

    }
</script>